global:
  environment: dev
replicaCount: 2
image:
  repository: ecommerce/cart
  tag: latest
resources:
  requests:
    cpu: 150m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 1Gi
service:
  type: ClusterIP
  port: 8080
env:
  SPRING_PROFILES_ACTIVE: production
redis:
  host: redis
  port: 6379
nodeSelector:
  workload: backend
